<table >
    <tr>
      <th>Temp</th>
      <th>Humidity</th>
      <th>Prediction</th>
    </tr>
    <tr  *ngFor = "let student of students$ | async; let i= index">
      <td>{{student.temperature}}</td>
      <td >{{student.humidity}}</td>
      <td >{{student.prediction}}</td>
     
    </tr>
    
  </table>