<table >
    <tr>
      <th>Name</th>
      <th>Get data</th>
      <th *ngIf = "!(show)">Temp</th>
      <th *ngIf = "!(show)">Humidity</th>
      <th *ngIf = "!(show)">Predict </th>
      <th *ngIf = "!(showPred)">Result </th>

    </tr>
     
      
             
    
        <td >{{city}}</td>
        <td>
            <button mat-raised-button
           
            color = "primary"
            (click) = "getData();show=!show">
            Get data
            </button>
        </td>
        <td>{{(weatherData$ | async)?.temperature | number:'1.0-0'}}º</td>
        <td>{{(weatherData$ | async)?.humidity}}</td>
        <td *ngIf = "!(show)">
          <button mat-raised-button
         
          color = "primary"
          (click) = "predict(temperature,humidity);showPred=!showPred">
          Predict
          </button>
        </td>
        <td *ngIf="!(showPred)" >{{prediction}}</td>
        <td *ngIf = "!(showPred)">
          <button mat-raised-button
         
          color = "primary"
          (click) = "save(temperature,humidity,prediction);showGetnew=!showGetnew">
          Save
          </button>
        </td>
        <td *ngIf = "!(showGetnew)">
          <button mat-raised-button
         
          color = "primary"
          (click) = "save(temperature,humidity,prediction)">
          Get new
          </button>
        </td>
      
    